* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    color: #276db3;
    text-align: left;
    background-color: #fff;
}

button {
    margin-top: 20px;
    margin-left: 80px;
    line-height: 38px;
    font-size: 93%;
    padding: 0 60px;
    background: white;
    border: 2px solid rgb(112, 182, 234);
    border-radius: 35px;
    
    position: relative;
    left: 45%;
    transform: translate(-55%, 0);
  }

button::first-line {
    color: #276db3;
}
    

p::first-line {
    color: rgb(97, 114, 168);
}

*, ::after, ::before {
    box-sizing: border-box;
}
